@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --primary-color: hsla(238, 83%, 66%, 1);
    --background-color: hsla(0, 0%, 100%, 1);
    --logotext-color: hsla(222, 39%, 8%, 1);
    --headline-color: hsla(222, 39%, 8%, 1); 
    --ingress-text: hsla(229, 14%, 41%, 1);    
    --text-color: hsla(229, 14%, 41%, 1);
    --border-color: hsla(227, 33%, 92%, 1);

    --system-error: hsla(0, 85%, 61%, 1);
    --system-success: hsla(142, 63%, 47%, 1);
    --system-warning: hsla(45, 100%, 52%, 1);
    --system-info: hsla(221, 89%, 62%, 1);
    --white: hsla(0, 0%, 100%, 1);

    --gray-100: hsla(226, 100%, 97%, 1);
    --gray-200: hsla(228, 55%, 96%, 1);
    --gray-300: hsla(227, 33%, 92%, 1);
    --gray-400: hsla(228, 23%, 87%, 1);
    --gray-500: hsla(231, 18%, 72%, 1);
    --gray-600: hsla(229, 15%, 63%, 1);
    --gray-700: hsla(229, 14%, 41%, 1);
    --gray-800: hsla(235, 21%, 25%, 1);
    --gray-900: hsla(222, 39%, 8%, 1);

    --color-button-text: hsla(0, 0%, 100%, 1);
    --color-button-background: var(--primary-color);
    --color-button-background-hover: var(--button-hover-color);

    --color-button-secondary-text: var(--primary-color);
    --color-button-secondary-background-hover: var(--button-hover-color);
    --button-hover-color: hsl(239, 83%, 80%, 1);

    --gradient-background: linear-gradient(180deg,rgba(255, 255, 255, 0.07) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(99, 102, 241, 0.07) 83%);
    
    --color-button-download-app-background: hsl(223, 39%, 7%, 1);
    --color-button-download-app-hover-background: hsl(235, 20%, 25%, 1);
    --color-button-download-app-text: hsla(0, 0%, 100%, 1);

    --testimonials-card-color: hsla(0, 0%, 100%, 1);

    --accordion-background-color: hsla(0, 0%, 100%, 1);

    --input-field-color: hsla(0, 0%, 100%, 1);
 
}

@media (prefers-color-scheme: dark){
    :root{

    --primary-color: hsla(238, 83%, 66%, 1);
    --background-color: hsla(222, 39%, 8%, 1);
    --logotext-color: hsla(0, 0%, 100%, 1);
    --headline-color: hsla(0, 0%, 100%, 1);
    --ingress-text: hsla(0, 0%, 100%, 0.7);   
    --text-color: hsla(229, 14%, 41%, 1);
    --border-color: hsla(0, 0%, 100%, 0.15);

    --system-error: hsla(0, 85%, 61%, 1);
    --system-success: hsla(142, 63%, 47%, 1);
    --system-warning: hsla(45, 100%, 52%, 1);
    --system-info: hsla(221, 89%, 62%, 1);
    --white: hsla(0, 0%, 100%, 1);

    --gray-100: hsla(226, 100%, 97%, 1);
    --gray-200: hsla(228, 55%, 96%, 1);
    --gray-300: hsla(227, 33%, 92%, 1);
    --gray-400: hsla(228, 23%, 87%, 1);
    --gray-500: hsla(231, 18%, 72%, 1);
    --gray-600: hsla(229, 15%, 63%, 0.5);
    --gray-700: hsla(229, 14%, 41%, 1);
    --gray-800: hsla(235, 21%, 25%, 1);
    --gray-900: hsla(222, 39%, 8%, 1);

    --color-button-text: hsla(0, 0%, 100%, 1);
    --color-button-background: hsla(238, 83%, 66%, 1);
    --color-button-background-hover: hsl(239, 83%, 80%, 1);

    --color-button-secondary-text: hsla(238, 83%, 66%, 1);
    --color-button-secondary-background-hover: hsl(239, 83%, 80%, 1);
    --button-hover-color: hsl(239, 83%, 80%, 1);

    --gradient-background-color: hsl(223, 39%, 7%);
    --gradient-background: linear-gradient(180deg,rgba(11, 15, 25, 1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(99, 102, 241, 0.11) 100%);

    --color-button-download-app-background: hsla(228, 55%, 96%, 1);
    --color-button-download-app-hover-background: hsla(235, 20%, 25%, 1);
    --color-button-download-app-text: hsla(226, 100%, 97%,);

    --testimonials-card-color: hsla(0, 0%, 100%, 0.04);

    --accordion-background-color: hsla(0, 0%, 100%, 0.04);

    --input-field-color: hsla(0, 0%, 100%, 1);
    }
}
    
.dark{
color-scheme: dark;
    --primary-color: hsla(238, 83%, 66%, 1);
    --background-color: hsla(222, 39%, 8%, 1);
    --logotext-color: hsla(0, 0%, 100%, 1);
    --headline-color: hsla(0, 0%, 100%, 1);
    --ingress-text: hsla(0, 0%, 100%, 0.7);   
    --text-color: hsla(229, 14%, 41%, 1);
    --border-color: hsla(0, 0%, 100%, 0.15);

    --system-error: hsla(0, 85%, 61%, 1);
    --system-success: hsla(142, 63%, 47%, 1);
    --system-warning: hsla(45, 100%, 52%, 1);
    --system-info: hsla(221, 89%, 62%, 1);
    --white: hsla(0, 0%, 100%, 1);

    --gray-100: hsla(226, 100%, 97%, 0.04);
    --gray-200: hsla(228, 55%, 96%, 1);
    --gray-300: hsla(227, 33%, 92%, 1);
    --gray-400: hsla(228, 23%, 87%, 1);
    --gray-500: hsla(231, 18%, 72%, 1);
    --gray-600: hsla(229, 15%, 63%, 0.5);
    --gray-700: hsla(0, 0%, 100%, 0.7);
    --gray-800: hsla(235, 21%, 25%, 1);
    --gray-900: hsla(0, 0%, 100%, 1);

    --gradient-background-color: hsl(223, 39%, 7%);
    --gradient-background: linear-gradient(180deg,rgba(11, 15, 25, 1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(99, 102, 241, 0.11) 100%);

    --color-button-text: var(--white);
    --color-button-background: var(--primary-color);
    --color-button-background-hover: var(--button-hover-color);

    --color-button-secondary-text: var(--primary-color);
    --color-button-secondary-background-hover: var(--button-hover-color);
    --button-hover-color: hsl(239, 83%, 80%, 1);

    --color-button-download-app-background: var(--gray-200);
    --color-button-download-app-hover-background: hsla(235, 20%, 25%, 1);
    --color-button-download-app-text: hsla(222, 39%, 8%, 1);

    --testimonials-card-color: hsla(0, 0%, 100%, 0.04);

    --accordion-background-color: hsla(0, 0%, 100%, 0.04);
    --accordion-answer-text-color: hsla(0, 0%, 100%, 0.7);

    --input-field-color: hsla(0, 0%, 100%, 1);
}
 
html{
    color-scheme: light;
    background-color: var(--background-color);
}

body{
    margin: 0 auto;
    font-size: 1rem;
    font-family: "Manrope", sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

.bodys{
    margin: 0 auto;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 160%;
    color: var(--gray-700);
}
 
.bodym{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    color: var(--gray-700);
}
 
.bodyl{
    margin: 0;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 160%;
    color: var(--gray-700);
}
 
.h1{
    margin: 0;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 130%;
    color: var(--headline-color);
}
 
.h2{
    margin: 0;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 130%;
    color: var(--headline-color);
}
 
.h3{
    margin: 0;
    font-size: 2rem;
    font-weight: 900;
    line-height: 130%;
    color: var(--headline-color);
}
 
.h4{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 140%;
    color: var(--headline-color);
}
 
.h5{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 140%;
    color: var(--headline-color);
}

a{
    text-decoration: none;
}


button, .btn{
    display: flex;
    gap: 0.5rem;
    background-color: var(--color-button-background);
    color: var(--color-button-text);
    font-family: "Manrope", sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    padding: 12px 24px;
    height: 40px;
    border: none;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.10s ease-in-out;
    cursor: pointer;
 
    &:hover{
        background-color: var(--color-button-background-hover);
    }

    img{
        height: 100%;
        width: auto;
    }
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0rem 1rem;

    @media (width >= 768px){
        max-width: 736px;
        margin-left: auto;
        margin-right: auto;
	}

    @media (width >=1024px){
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
	@media (width >= 1440px){
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
	}      
}

/* Header start */

.header-hero-area{
    display: flex;
    justify-content: space-between;
    height: 4.375rem;

    @media (width >= 768px){
		background-color: var(--background-color);
	}     
}

.logotyp-area{
    display: flex;
    align-items: center;
}

.logotyp{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    text-decoration: none;

    .logotyp-text{
        font-size: 1.25rem;
        font-weight: 800;
        line-height: 130%;
        color: var(--logotext-color);
    }
}

.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.btn-signin-text{
    display: none;

    @media (width >= 768px) {
        display: flex;
    }
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../assets/images/icons/menu-icon-white.svg") no-repeat center/contain;
    

    @media (width >=768px){
        background: url("../assets/images/icons/icon-user.svg") no-repeat center/contain;

    }

    @media (width >=1440px){
        background: url("../assets/images/icons/icon-user.svg") no-repeat center/contain;
    }
}

.darkmode-text{
    display:none;

    @media (width >= 768px) {
        display: flex;
    }
}

/*Switch*/
.darkmode{
    display: flex;
    align-content: center;
    justify-content: center;
}
    
.toggle{
    --_w: 44px;
    --_h: 24px;
    width: var(--_w);
    height: var(--_h);
    flex-shrink: none;
    position: relative;
    display: inline-block;
        input[type="checkbox"] {
            width: 0;
            height: 0;
            opacity: 0;
        }
}

.slider{
    position:absolute;
    cursor: pointer;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:var(--gray-600);
    border-radius: 100vw;
    transition: 400ms;
}

.slider::before{
    content: '';
    position: absolute;
    top:2px;
    left: 3px;
    bottom:2px;
    right: 2px;
    height: 80%;
    aspect-ratio: 1;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.34);
    transition: 400ms;
}

input[type="checkbox"]:checked + .slider::before{
    left: calc(103% - var(--_h));
    background-color: var(--white);
}

input[type="checkbox"]:checked + .slider{
    background-color: var(--primary-color);
}

img{
    height: auto;
}

/* Header end */