@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --primary-color: hsla(238, 83%, 66%, 1);
    --background-color: hsla(0, 0%, 100%, 1);
    --logotext-color: hsla(222, 39%, 8%, 1);
    --headline-color: hsla(222, 39%, 8%, 1); 
    --ingress-text: hsla(229, 14%, 41%, 1);    
    --text-color: hsla(229, 14%, 41%, 1);
    --border-color: hsla(227, 33%, 92%, 1);

    --system-error: hsla(0, 85%, 61%, 1);
    --system-success: hsla(142, 63%, 47%, 1);
    --system-warning: hsla(45, 100%, 52%, 1);
    --system-info: hsla(221, 89%, 62%, 1);
    --white: hsla(0, 0%, 100%, 1);

    --gray-100: hsla(226, 100%, 97%, 1);
    --gray-200: hsla(228, 55%, 96%, 1);
    --gray-300: hsla(227, 33%, 92%, 1);
    --gray-400: hsla(228, 23%, 87%, 1);
    --gray-500: hsla(231, 18%, 72%, 1);
    --gray-600: hsla(229, 15%, 63%, 1);
    --gray-700: hsla(229, 14%, 41%, 1);
    --gray-800: hsla(235, 21%, 25%, 1);
    --gray-900: hsla(222, 39%, 8%, 1);

    --color-button-text: hsla(0, 0%, 100%, 1);
    --color-button-background: var(--primary-color);
    --color-button-background-hover: var(--button-hover-color);

    --color-button-secondary-text: var(--primary-color);
    --color-button-secondary-background-hover: var(--button-hover-color);
    --button-hover-color: hsl(239, 83%, 80%, 1);

    --gradient-background: linear-gradient(180deg,rgba(255, 255, 255, 0.07) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(99, 102, 241, 0.07) 83%);
    
    --color-button-download-app-background: hsl(223, 39%, 7%, 1);
    --color-button-download-app-hover-background: hsl(235, 20%, 25%, 1);
    --color-button-download-app-text: hsla(0, 0%, 100%, 1);

    --testimonials-card-color: hsla(0, 0%, 100%, 1);

    --accordion-background-color: hsla(0, 0%, 100%, 1);

    --input-field-color: hsla(0, 0%, 100%, 1);
 
}

@media (prefers-color-scheme: dark){
    :root{

    --primary-color: hsla(238, 83%, 66%, 1);
    --background-color: hsla(222, 39%, 8%, 1);
    --logotext-color: hsla(0, 0%, 100%, 1);
    --headline-color: hsla(0, 0%, 100%, 1);
    --ingress-text: hsla(0, 0%, 100%, 0.7);   
    --text-color: hsla(229, 14%, 41%, 1);
    --border-color: hsla(0, 0%, 100%, 0.15);

    --system-error: hsla(0, 85%, 61%, 1);
    --system-success: hsla(142, 63%, 47%, 1);
    --system-warning: hsla(45, 100%, 52%, 1);
    --system-info: hsla(221, 89%, 62%, 1);
    --white: hsla(0, 0%, 100%, 1);

    --gray-100: hsla(226, 100%, 97%, 1);
    --gray-200: hsla(228, 55%, 96%, 1);
    --gray-300: hsla(227, 33%, 92%, 1);
    --gray-400: hsla(228, 23%, 87%, 1);
    --gray-500: hsla(231, 18%, 72%, 1);
    --gray-600: hsla(229, 15%, 63%, 0.5);
    --gray-700: hsla(229, 14%, 41%, 1);
    --gray-800: hsla(235, 21%, 25%, 1);
    --gray-900: hsla(222, 39%, 8%, 1);

    --color-button-text: hsla(0, 0%, 100%, 1);
    --color-button-background: hsla(238, 83%, 66%, 1);
    --color-button-background-hover: hsl(239, 83%, 80%, 1);

    --color-button-secondary-text: hsla(238, 83%, 66%, 1);
    --color-button-secondary-background-hover: hsl(239, 83%, 80%, 1);
    --button-hover-color: hsl(239, 83%, 80%, 1);

    --gradient-background-color: hsl(223, 39%, 7%);
    --gradient-background: linear-gradient(180deg,rgba(11, 15, 25, 1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(99, 102, 241, 0.11) 100%);

    --color-button-download-app-background: hsla(228, 55%, 96%, 1);
    --color-button-download-app-hover-background: hsla(235, 20%, 25%, 1);
    --color-button-download-app-text: hsla(226, 100%, 97%,);

    --testimonials-card-color: hsla(0, 0%, 100%, 0.04);

    --accordion-background-color: hsla(0, 0%, 100%, 0.04);

    --input-field-color: hsla(0, 0%, 100%, 1);
    }
}
    
.dark{
color-scheme: dark;
    --primary-color: hsla(238, 83%, 66%, 1);
    --background-color: hsla(222, 39%, 8%, 1);
    --logotext-color: hsla(0, 0%, 100%, 1);
    --headline-color: hsla(0, 0%, 100%, 1);
    --ingress-text: hsla(0, 0%, 100%, 0.7);   
    --text-color: hsla(229, 14%, 41%, 1);
    --border-color: hsla(0, 0%, 100%, 0.15);

    --system-error: hsla(0, 85%, 61%, 1);
    --system-success: hsla(142, 63%, 47%, 1);
    --system-warning: hsla(45, 100%, 52%, 1);
    --system-info: hsla(221, 89%, 62%, 1);
    --white: hsla(0, 0%, 100%, 1);

    --gray-100: hsla(226, 100%, 97%, 0.04);
    --gray-200: hsla(228, 55%, 96%, 1);
    --gray-300: hsla(227, 33%, 92%, 1);
    --gray-400: hsla(228, 23%, 87%, 1);
    --gray-500: hsla(231, 18%, 72%, 1);
    --gray-600: hsla(229, 15%, 63%, 0.5);
    --gray-700: hsla(0, 0%, 100%, 0.7);
    --gray-800: hsla(235, 21%, 25%, 1);
    --gray-900: hsla(0, 0%, 100%, 1);

    --gradient-background-color: hsl(223, 39%, 7%);
    --gradient-background: linear-gradient(180deg,rgba(11, 15, 25, 1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(99, 102, 241, 0.11) 100%);

    --color-button-text: var(--white);
    --color-button-background: var(--primary-color);
    --color-button-background-hover: var(--button-hover-color);

    --color-button-secondary-text: var(--primary-color);
    --color-button-secondary-background-hover: var(--button-hover-color);
    --button-hover-color: hsl(239, 83%, 80%, 1);

    --color-button-download-app-background: var(--gray-200);
    --color-button-download-app-hover-background: hsla(235, 20%, 25%, 1);
    --color-button-download-app-text: hsla(222, 39%, 8%, 1);

    --testimonials-card-color: hsla(0, 0%, 100%, 0.04);

    --accordion-background-color: hsla(0, 0%, 100%, 0.04);
    --accordion-answer-text-color: hsla(0, 0%, 100%, 0.7);

    --input-field-color: hsla(0, 0%, 100%, 1);
}
 
html{
    color-scheme: light;
    background-color: var(--background-color);
}

body{
    margin: 0 auto;
    font-size: 1rem;
    font-family: "Manrope", sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

.bodys{
    margin: 0 auto;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 160%;
    color: var(--gray-700);
}
 
.bodym{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    color: var(--gray-700);
}
 
.bodyl{
    margin: 0;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 160%;
    color: var(--gray-700);
}
 
.h1{
    margin: 0;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 130%;
    color: var(--headline-color);
}
 
.h2{
    margin: 0;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 130%;
    color: var(--headline-color);
}
 
.h3{
    margin: 0;
    font-size: 2rem;
    font-weight: 900;
    line-height: 130%;
    color: var(--headline-color);
}
 
.h4{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 140%;
    color: var(--headline-color);
}
 
.h5{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 140%;
    color: var(--headline-color);
}